<h1>Welcome</h1>
<form action='/users' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]" placeholder="Enter email">
  </p>
  <P>
    <label for="name">Name</label>
    <input id="name" type="text" name="user[name]" placeholder="Enter name">
  </P>
  <p>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" placeholder="Enter Password" >
  </p>
  <p>
    <label for="password_confirmation">Password Confirmation</label>
    <input id="password_confirmation" type="password" name="user[password_confirmation]" placeholder="Enter Password">
  </p>
  <button type="submit">Join</button>
</form>
<p>
  <a href="/sessions/new">Already a member?</a>
</p>
